body {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  overflow-x: hidden; }

p {
  font-size: 20px; }

p.small {
  font-size: 16px; }

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #edff00;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #edff00; }

hr.star-primary {
  border-color: #313231; }

hr.star-primary:after {
  color: #313231;
  background-color: white; }

.img-centered {
  margin: 0 auto; }

section {
  padding: 50px 0;
  width: 100%; }
  section h2 {
    font-size: 3em;
    margin: 0; }

section.success {
  color: white;
  background: #edff00; }

@media (max-width: 767px) {
  section {
    padding: 75px 0; }
  section.first {
    padding-top: 75px; } }

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; }
  .scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%; }
    .scroll-top .btn:focus {
      outline: none; }

#mainNav {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  background: #313231;
  height: 110px; }
  #mainNav a:focus {
    outline: none; }
  #mainNav .navbar-nav {
    letter-spacing: 1px; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: white; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #edff00;
        outline: none; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: white; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white;
    float: right; }
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
      color: #313231;
      border-color: #edff00;
      background-color: #edff00; }
  #mainNav #comp-claim {
    color: #edff00;
    text-align: center; }

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      border-radius: 3px;
      background: #edff00; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: white;
        background: #edff00; }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em; } }

header.masthead {
  padding-top: 110px;
  text-align: center;
  color: #000;
  background: #fff; }
  header.masthead .subheader {
    background: url("../img/header_pattern.png") repeat-x;
    height: 100px;
    max-height: 100px;
    padding-top: 15px;
    text-align: center; }
    header.masthead .subheader .intro-text .name {
      font-family: "Rajdhani", sans-serif;
      font-size: 1.4em;
      font-weight: 500;
      display: block;
      text-transform: uppercase; }
  header.masthead .intro {
    height: 870px; }
    header.masthead .intro span {
      font-weight: 500; }
    header.masthead .intro #handle-back {
      width: 486px;
      height: 696px;
      position: absolute;
      background: url("../img/handle_back.png") no-repeat;
      top: 40px; }

@-webkit-keyframes handle-animation {
  0% {
    top: 392px; }
  50% {
    top: 407px; }
  100% {
    top: 392px; } }

@-moz-keyframes handle-animation {
  0% {
    top: 392px; }
  50% {
    top: 407px; }
  100% {
    top: 392px; } }

@-ms-keyframes handle-animation {
  header.masthead .intro 0% {
    top: 392px; }
  header.masthead .intro 50% {
    top: 407px; }
  header.masthead .intro 100% {
    top: 392px; } }

@-o-keyframes handle-animation {
  0% {
    top: 392px; }
  50% {
    top: 407px; }
  100% {
    top: 392px; } }

@keyframes handle-animation {
  0% {
    top: 392px; }
  50% {
    top: 407px; }
  100% {
    top: 392px; } }
    header.masthead .intro #handle {
      width: 681px;
      height: 125px;
      position: absolute;
      background: url("../img/handle.png") no-repeat;
      top: 392px;
      left: 215px;
      -webkit-animation: handle-animation 1s linear infinite alternate;
      -moz-animation: handle-animation 1s linear infinite alternate;
      -ms-animation: handle-animation 1s linear infinite alternate;
      -o-animation: handle-animation 1s linear infinite alternate;
      animation: handle-animation 1s linear infinite alternate; }
      header.masthead .intro #handle span#handle-desc {
        display: block;
        margin: -30px 150px 0 0px;
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
        float: right; }
    header.masthead .intro #door_closed {
      width: 151px;
      height: 224px;
      background: url("../img/door_closed.png") no-repeat;
      position: absolute;
      top: 60px;
      right: 0px; }
      header.masthead .intro #door_closed span {
        display: block;
        margin-top: -30px;
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg); }
    header.masthead .intro #door_open {
      width: 146px;
      height: 223px;
      background: url("../img/door_open.png") no-repeat;
      position: absolute;
      bottom: 60px;
      right: 0px; }
      header.masthead .intro #door_open span {
        display: block;
        margin-top: -30px;
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg); }
    header.masthead .intro .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-style: inset;
      position: absolute; }
      header.masthead .intro .triangle.small {
        border-width: 8px 13px 8px 0;
        border-color: transparent #dcdcdb transparent transparent; }
      header.masthead .intro .triangle.medium {
        border-width: 14px 23px 14px 0;
        border-color: transparent #c4c4c3 transparent transparent; }
      header.masthead .intro .triangle.large {
        border-width: 20px 32px 20px 0;
        border-color: transparent #adadab transparent transparent; }
    header.masthead .intro #arrow1 {
      right: 330px;
      top: 180px;
      -moz-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    header.masthead .intro #arrow2 {
      right: 345px;
      top: 188px;
      -moz-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    header.masthead .intro #arrow3 {
      right: 370px;
      top: 200px;
      -moz-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg); }
    header.masthead .intro #arrow4 {
      right: 370px;
      top: 580px;
      -moz-transform: rotate(210deg);
      -o-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      -webkit-transform: rotate(210deg);
      transform: rotate(210deg); }
    header.masthead .intro #arrow5 {
      right: 345px;
      top: 588px;
      -moz-transform: rotate(210deg);
      -o-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      -webkit-transform: rotate(210deg);
      transform: rotate(210deg); }
    header.masthead .intro #arrow6 {
      right: 310px;
      top: 600px;
      -moz-transform: rotate(210deg);
      -o-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      -webkit-transform: rotate(210deg);
      transform: rotate(210deg); }

@media (max-width: 576px) {
  header.masthead .subheader {
    height: 80px;
    max-height: 80px; }
    header.masthead .subheader .intro-text {
      font-size: 0.8em; } }

#portfolio {
  /* Override bootstrap column paddings */ }
  #portfolio .container.gallery-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 30px 50px; }
  #portfolio .tz-gallery {
    padding: 40px; }
  #portfolio .tz-gallery .row > div {
    padding: 2px; }
  #portfolio .tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative; }
  #portfolio .tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s; }
  #portfolio .tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s; }
  #portfolio .tz-gallery .lightbox:hover:after,
  #portfolio .tz-gallery .lightbox:hover:before {
    opacity: 1; }
  #portfolio .baguetteBox-button {
    background-color: transparent !important; }
  @media (max-width: 768px) {
    #portfolio body {
      padding: 0; } }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #edff00; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }

footer {
  color: white; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #313231; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 15px 0;
    background-color: #fff;
    color: #000;
    font-size: 0.8em; }

.btn-outline {
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent; }
  .btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #313231;
    border: solid 2px white;
    background: white; }

.btn-primary {
  font-weight: 700;
  color: white;
  border-color: #313231;
  background-color: #313231; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: black;
    background-color: #181818; }
  .btn-primary:hover {
    color: white;
    border-color: #131313;
    background-color: #181818; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #131313;
    background-color: #181818; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: black;
      background-color: #060606; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #313231;
    background-color: #313231; }
  .btn-primary .badge {
    color: #313231;
    background-color: white; }

.btn-success {
  font-weight: 700;
  color: white;
  border-color: #edff00;
  background-color: #edff00; }
  .btn-success.focus, .btn-success:focus {
    color: white;
    border-color: #778000;
    background-color: #becc00; }
  .btn-success:hover {
    color: white;
    border-color: #b4c200;
    background-color: #becc00; }
  .btn-success.active, .btn-success:active,
  .open > .btn-success.dropdown-toggle {
    color: white;
    border-color: #b4c200;
    background-color: #becc00; }
    .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover,
    .open > .btn-success.dropdown-toggle.focus,
    .open > .btn-success.dropdown-toggle:focus,
    .open > .btn-success.dropdown-toggle:hover {
      color: white;
      border-color: #778000;
      background-color: #9ca800; }
  .btn-success.active, .btn-success:active,
  .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success.focus,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success:hover {
    border-color: #edff00;
    background-color: #edff00; }
  .btn-success .badge {
    color: #edff00;
    background-color: white; }

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%; }

.btn.active,
.btn:active,
.btn:focus {
  outline: none; }
